<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Contact</a></li>
    {{#unless loggedIn}}
    <li><a href="/login">Log in</a></li>
    {{/unless}}
     {{#if loggedIn}}
    <li><a href="/logout">Log out</a></li>
     {{/if}}
  </ul>
</nav>