<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/my-dashboard">My Dashboard</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Contact</a></li>
    {{#unless session.loggedIn}}
    <li><a href="/login">Log in</a></li>
    {{/unless}}
     {{#if session.loggedIn}}
    <li>Welcome, {{session.username}}!</li>
    <li><a href="/logout">Log out</a></li>
     {{/if}}
  </ul>
</nav>