<!doctype html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  </head>
  <body>
    {{> nav}}
    <h1>{{title}}</h1>
    {{{body}}}
    {{> footer }}
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>