{{!-- {{#each blogPosts}}       <!-- Loop over the blogPosts array -->
  {{#if @index '<' 4}}    <!-- If the current index is less than n... -->
    {{> post-excerpt}}    <!-- Include the post-excerpt partial -->
  {{/if}}                 <!-- End the if block -->
{{/each}}                 <!-- End the each block --> --}}

<h2>My Posts</h2>
{{#if myPosts.length}}
<ul>
  {{!-- {{#with (slice posts 10 19)}} --}}

  {{!-- Display the most recent 10 posts --}}
    {{#each (sort myPosts "timestamp" "DESC")}}

      <li class="card"><a href="/post/{{id}}"><strong>{{post_title}}</strong> - {{formatDate post_date_time}}</a></li>

    {{/each}}
{{else}}
  <p>You have not made any posts yet.</p>
{{/if}}
</ul>

<button id="add-new-post-btn" onclick="location.href='/new-post'" type="button">
         Add New Post</button>